:root {
  --c1: #f2e0c9;
  --c2: #bfb0a3;
  --c3: #e3977f;
  --c4: #d9c3c3;
}

* {
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

body {
  background-color: var(--c4);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

label {
  background-color: white;
}

button:hover {
  transition: 0.3s;
  background-color: white;
}

select {
  font-size: 15px;
}

input:disabled,
select:disabled,
.disabled {
  background-color: rgba(255, 242, 242, 0.685);
}

.row {
  position: relative;
  content: "";
  clear: both;
  display: table;
  padding: 10px;
  display: block;
}

.menu {
  background-color: var(--c2);
  border: none;
  margin-bottom: 5px;
  margin-top: 5px;
}

.noborder {
  border: 3px solid var(--c1);
  height: 50px;
}

.border {
  border: 3px solid var(--c3);
  background-color: var(--c1);
}

.header {
  border: 3px solid var(--c3);
  background-color: var(--c1);
  padding: 15px;
}

[class*="col-"] {
  padding: 15px;
  float: left;
}
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
  .row {
    padding: 0px;
  }
}
